In [1]:
import pandas as pd

In [10]:
ms = pd.read_csv(r"C:\Users\96181\Desktop\ML-project2.0\masculinity.csv")
ms.head()
#print(ms.value_counts())

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400

In [11]:
ms.isnull().sum()

Unnamed: 0     0
StartDate      0
EndDate        0
q0001          0
q0002          0
              ..
educ4          1
age3           1
kids           6
orientation    1
weight         1
Length: 98, dtype: int64

In [21]:
ms = ms.dropna()
ms = ms.drop(columns = ['Unnamed: 0', 'StartDate','EndDate'])
ms.dtypes

q0001           object
q0002           object
q0004_0001      object
q0004_0002      object
q0004_0003      object
                ...
educ4           object
age3            object
kids            object
orientation     object
weight         float64
Length: 95, dtype: object

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in ms.columns:
    if ms[col].dtypes == 'object':
        ms[col] = le.fit_transform(ms[col].astype(str))